.sidebar{
   
    flex: 1;
    height: 100%;
   
    .top{
        
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        .logo{
          
             width: 150px;
             height: 150px;
             object-fit: contain;
            
        }
    }

    .center{
      
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        height: 400px;
      
        ul{
            
            list-style: none;
            margin: 0;
            padding: 0;

            .titles{
                font-size: 15px;
                font-weight: bold;
                color:#181111;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 10px;
                // cursor: pointer;
                
                &:hover{
                    background-color: #b9b8c3;
                }

                .icon{
                    font-size: 22px;
                    color: #a80860;
                }

                span{
                    font-size: 19px;
                    font-weight: 400;
                    color:#7c7878;
                    margin-left: 10px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

      
    }    
}