.navbar1{
    height: 50px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    padding: 10px;

    .wrapper1{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .items1{
        display: flex;
        align-items: center;

        .item1{
            display: flex;
            align-items: center;
            margin: 20px;
            position: relative;
        }
    }
}