.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableHeader {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .tableData {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .tableData:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .deleteButton {
    display: block;
    margin: auto;
  }
  