.add{
    display: flex;
    width: 100%;

    .addContainer{
        flex: 6;
    }
}

/* For screens smaller than 768px (i.e. mobile devices) */
@media (max-width: 767px) {
    .table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .table td {
      display: block;
      text-align: center;
    }
  
    .form-control {
      width: 100%;
    }
  
    textarea.form-control {
      resize: none;
    }
  
    input[type="file"] {
      margin-top: 10px;
    }
  }
  
  /* For screens larger than 768px (i.e. desktop devices) */
  @media (min-width: 768px) {
    .table td {
      text-align: left;
    }
  
    .form-control {
      width: 80%;
    }
  
    textarea.form-control {
      resize: vertical;
    }
  
    input[type="file"] {
      margin-top: 0;
    }
  }