.login{
  // background-color:  rgb(138, 28, 81);
  display: flex;
 justify-content: center;
  position: relative;
  padding: 20px;
  height: 600px;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  // align-items: center;
  // margin: 400px;
  // padding: 250px;

  .form{
      background-color: rgb(239, 239, 232);
      text-align: center;
      border-radius: 20px;
      padding: 60px;
      margin: 30px;
      height: 100%;
      margin-top: 10px;
    
      // width: 200px;
      // left: 400px;
     
    .logo{
      width: 150px;
      height: 150px;
      padding-bottom:1px ;

     
     
    }
     
      } 
  }

    

