.company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .company_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .img {
    width: 100%;
  }
  
  .img>img {
    width: 100%;
  }
  
  .company_info h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .company_info span {
    font-size: 1rem;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .team {
     display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team span {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 4px solid #ffdc0e;
  }

  .row {
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .section_team .single_person {
    margin: 20px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
  }
  
  .section_team .single_person:hover {
    background: linear-gradient(to right, #ffffff, #8c00f7);
  }
  
  .section_team .connect .cLogo:hover {
    color: white;
    cursor: pointer;
  }

  .section_team .single_person .person_image {
      position: relative;
      margin-bottom: 50px;
      border-radius: 50%;
      border: 4px dashed transparent;
      transition: padding .3s;
  }
  
  .section_team .single_person:hover .person_image {
    padding: 12px;
      border: 4px dashed #fff;
  }
  
  .section_team .single_person .person_image img {
    width: 100%;
    border-radius: 50%;
  }
  
  .mImg {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .section_team .single_person .person_image .icon {
    position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,50%);
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background: linear-gradient(to right, #ffffff, #8c00f7);
      color: #fff;
      border-radius: 50%;
      font-size: 24px;
  }
  
  .section_team .single_person:hover .person_image .icon {
    background: none;
    background-color: #fff;
    color: #8c00f7;
  }

  .full_name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
  }
 
  .speciality {
      text-transform: uppercase;
      font-size: 14px;
      color: #016cec;
      display: flex;
      justify-content: center;
      text-align: center;
  }
  
  .section_team .single_person:hover .full_name,
  .section_team .single_person:hover .speciality {
    color: #fff;
  }
  
  .logo{
      width: 2.5rem;
      height: 2.5rem;
  }

  .connect{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cLogo{
    width: 2.5rem;
    height: 2.5rem;
    margin: 20px;
    cursor: pointer;
  }

  .iLink {
    color: #AA336A;
  }

  .wLink {
    color: green;
  }

  /* Styles for larger screens */
.company {
  display: flex;
  align-items: center;
}

.img {
  flex: 0 0 50%;
}

.img img {
  max-width: 100%;
  height: auto;
}

.company_info {
  flex: 0 0 50%;
  padding: 0 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .company {
    flex-direction: column;
  }

  .img {
    order: 2;
    margin-top: 20px;
  }

  .company_info {
    order: 1;
    padding: 0;
  }
}