.contact_herobg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;

  background-image: url("https://images.unsplash.com/photo-1622037022824-0c71d511ef3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
.contact_herobg2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;

    background-image: url("../photo/My.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.hero_text {
    font-size: 6rem;
    font-weight: 600;
    color: black;
}

.form {
    margin-top: 1.25rem;
}

.table {
    border-collapse: collapse; 
    border: 1px solid #e2e8f0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: black;
    background: #28a745;
    border-color: #28a745;
  }

  @media (max-width: 768px) {
    .content {
      width: 100%;
    }
  }