.container {
    height: 100vh; 
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
}

.text {
    font-size: 1.875rem;
}

.text2 {
    color: #ce1992;
}

.btn {
    font-size: 1.25rem;
    color: inherit; 
    transition-duration: 0.3s;
    user-select: none;
}

.btn:hover{
    color: #06b6d4;
}