.container {
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container>:nth-child(1) {
    font-style: normal;
    margin: 20px;
}

.products {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:center;
    /* border: 2px solid red;
    padding: 10px; */
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.menu>li:hover{
    color: pink;
    cursor: pointer;
}
.vertical {
    display: flex;
    flex-direction: row;
  }
  
.search {
    display: flex;
    flex-direction: row;
}

.products2 {
    display: flex;
    width: 100%;

}
.columns_2 figure {
    width: 49%;
    margin-right: 1%;
  }
  
  .columns_2 figure:nth-child(2) {
    margin-right: 0;
  }
  
  .columns_3 figure {
    width: 32%;
    margin-right: 1%;
  }
  
  .columns_3 figure:nth-child(3) {
    margin-right: 0;
  }
  
  .columns_4 figure {
    width: 24%;
    margin-right: 1%;
  }
  
  .columns_4 figure:nth-child(4) {
    margin-right: 0;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .columns_5 figure {
    width: 19%;
    margin-right: 1%;
  }
  
  .columns_5 figure:nth-child(5) {
    margin-right: 0;
  }
  
  #columns figure:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #columns:hover figure:not(:hover) {
    opacity: 0.4;
  }
  
  div#columns figure {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 0px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  div#columns figure img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  
  div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
    height: 60px;
    font-weight: 600;
    text-overflow: ellipsis;
  }
  
  @media screen and (max-width: 960px) {
    #columns figure {
      width: 24%;
    }

  }
  
  @media screen and (max-width: 767px) {
    #columns figure {
      width: 32%;
    }
  }
  
  @media screen and (max-width: 600px) {
    #columns figure {
      width: 49%;
    }
  }
  
  @media screen and (max-width: 500px) {
    #columns figure {
      width: 100%;
    }
  }

  
