.container {
  width: 80%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 20rem;
  width: 30rem;
  background-color: #b22b36;
  position: relative;
  box-shadow: 0 3rem 5rem black;
  border-radius: 2%;
  margin: 20px;
}

.card:hover {
  transform: translateY(-10%);
}

.card::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 90%;
  background-color: #1d3557;
  bottom: -8%;
  left: 15%;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 2%;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  display: none;
  opacity: 0;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  height: 10rem;
  width: 80%;
  background-color: #f1faee;
  bottom: -8%;
  left: -5%;
  clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
  border-radius: 2%;
  transform-origin: bottom left;
  transform: rotate(90deg);
  display: none;
  opacity: 0;
  z-index: 1;
}

.card:hover::before,
.card:hover::after {
  display: block;
  transform: rotate(0deg);
  opacity: 100%;
}

.card:hover::before {
  animation: rotate-clockwise 0.4s 1;
}
.card:hover::after {
  animation: rotate-anti-clockwise 0.4s 1;
}

@keyframes rotate-clockwise {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  100% {
    opacity: 100%;
    transform: rotate(0deg);
  }
}
@keyframes rotate-anti-clockwise {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 100%;
    transform: rotate(0deg);
  }
}

.card_body {
  text-align: center;
}

.card_body h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #f1faee;
}

.card_body img {
    width: 70%;
    height: 9rem;
    border-radius:2px;
}

.card_body p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #f1faee;
  margin-top: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  z-index: 1;
}

.card_body button {
  border: 2px solid #f1faee;
  background-color: transparent;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  color: #f1faee;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
}

.card_body button:hover {
  cursor: pointer;
  background-color: #f1faee;
  color: #e63946;
}