p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.section-team {
	font-family: "Roboto", sans-serif;
	padding: 80px 0;
}

.section-team .header-section {
	margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
}

.section-team .single-person:hover {
    background:#b44593;
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background:#b44593;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #b44593;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 12px;
    color: #b44593;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
}

.cLogo{
    width: 2.5rem;
    height: 2.5rem;
    margin: 20px;
    cursor: pointer;
  }

  .iLink {
    color: #ff0077;
  }

  .wLink {
    color: green;
  }

.cLogo:hover{
    color: #fff;
}

/* responsive design */
.connect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .connect a {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .cLogo {
    width: 30px;
    height: 30px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .single-person {
      margin-bottom: 20px;
    }
  }
  
  
  
  
  
  
  