/* .container {
    padding: 1.5rem;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
    cursor: pointer;
}

.logo>img{
    width: 2.5rem;
    height: 2.5rem;
}

.logo>span{
    font-weight: 600;
}

.right {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    list-style: none;
    margin-bottom: 0rem;
}

.menu>li:hover{
    color: #fe956f;
    cursor: pointer;
}

.search {
    width: 7rem;
    outline: none;
    border: none;
    height: 30%;
    border-radius:5px;
    padding: 0.2rem;
}

.cart{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.cart:hover {
    color:#fe956f;
} */
.header .nav-link {
    color: white;
  }
  
  .header .nav-link.active {
    color: white;
  }
  
  .header .profileImg {
    height: 2rem;
    width: 2rem;
  }
  
  .header .logo {
    height: 4rem;
    width: 4rem;
  }