.container {
    position: relative;
}

.container .swiper {
    width: 70%;
    height: 14rem;
    position: unset;
}

.container .swiper-slide{
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.container .swiper-button-prev {
    left: 6rem;
    color: black;
}

.container .swiper-button-next {
    right: 6rem;
    color: black;
}

.left {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
    /* justify-content: space-between; */
}

.pName {
    display: flex;
    flex-direction: column;
}

.pName>:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}

.pName>:nth-child(2) {
    font-size: 0.7rem;
}

.left>:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
}

.left>:nth-child(3) {
    font-size: 0.6rem;
    border : 1px solid black;
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
}

.iproduct {
    transform: rotate(-15deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -30%;
}