:root{
    --black: #343434;
    --bg: #c7ad19;
    --shadow1: 0px 13px 48px -1px rgba(0,0,0,0);
    --shadow2: 0px 13px 46px rgba(0,0,0,0);
    --pink: #FE956F;
}

.App{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar-track{
    background: rgba(255,255,255,0.2);
    border-radius: 1ex;
}

::-webkit-scrollbar-thumb{
    background: skyblue;
    border-radius: 1ex;
}

a{
    text-decoration: none;
    color: inherit
}