@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    transition: all 3ms ease;
    color: #0e0d0d;
    scroll-behavior: smooth;
}

.footer{
    justify-content: center;
}