.home {
  display: flex;
  width: 100%;
}

.homecontainer {
  flex: 6;
  flex-direction: column;
}

.grid-container {
  display:flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.chart,
.pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: red;
  border: radius 2px;
}

.flex-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.content-container {
  height: 320px;
  background: #f1f1f4;
  line-height: 10px;
  text-align: center;
  color:black;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 5px 9px 0 #0000008c;
  border-radius: 8px;
  margin: 20px;
  padding-top: 20px;
}

.column {
  box-sizing: border-box;
  flex: 25%;
  max-width: 25%;
  margin: 20px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.content-container:hover {
  background:  #b44593;
}

.content-container:hover p {
  color: white;
}
