.home {
    display: flex;
    width: 100%;
  }
  
.homecontainer {
    flex: 12;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
.item1 {
    height: 400px;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 10px rgba(77, 73, 73, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
.item1:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }