.container {
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container>:nth-child(1) {
    font-style: normal;
    margin: 20px;
}

.products {
    display: grid;
    width: 90%;
    grid-template-columns: 25% auto;

}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.menu>li:hover{
    color: pink;
    cursor: pointer;
}